.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
  width: 35vmin;
  height: 35vmin;
  min-width: 350px;
  min-height: 350px;
  margin: 1.45rem 0;
  padding: 1.45rem;
  border-radius: 2px;
  box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2),
    0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
  position: relative;
  background-color: rgb(255, 255, 255, 0.8) !important;
  background-blend-mode: color;
  background: center / contain no-repeat url("../images/bg.png");
  cursor: pointer;
}

.name {
  font-size: 1.25em;
}

.heading {
  display: flex;
  align-items: center;
  height: 3rem;
  font-weight: bold;
}

.description {
  font-size: 2rem;
}

.primaryLanguage {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  border-radius: 50%;
  flex-shrink: 0;
  box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2),
    0px 6px 10px 0px rgba(0, 0, 0, 0.14), 0px 1px 18px 0px rgba(0, 0, 0, 0.12);
  font-size: 2.5em;
  width: 1.5em;
  height: 1.5em;
}

.links {
  flex: 1 1 100%;
  justify-content: center;
  font-weight: normal;
}

.topic_container {
  display: flex;
  flex-wrap: wrap;
}

.topic {
  transform: rotate(-0deg);
  display: inline-block;
  font-size: 12px;
  line-height: 18px;
  padding: 0.3em 0.9em;
  margin: 0 0.5em 0.5em 0;
  white-space: nowrap;
  background-color: #f1f8ff;
  border-radius: 3px;
  color: #0366d6;
  text-decoration: none;
  box-shadow: 0px 1px 2px -1px rgba(0, 0, 0, 0.2),
    0px 2px 3px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
}

.topic:hover {
  background-color: #def;
  color: #0e61b5;
}
